/* COLORS 
- 
- 
*/

$white: #fff;
$light-grey: #E5E4E2;
$grey: #A9A9A9;
$dark-grey: #2f393e;
$black: #17191a;
$base-color: #ff0080;
$secondary-color: #1ba673; 

// additional (used in form validation)
$orange: #E2A35C;
$yellow: #FACD07;
$red: #af110c; 
$green: #1a9b20;


/* FONTS
- 
- 
*/
$font-main: 'Arial';
$font-accent: 'Oswald';
$font-art: 'Tiffany';
$font-decor: 'Typewriter';


//* Type sizes (root font size is 15px)
$font-size1: 5.4545rem; // 60pt
$font-size2: 2.9090rem; // 32pt 
$font-size3: 2.3636rem; // 26pt
$font-size4: 1.6363rem; // 18pt
$font-size5: 1.4545rem; // 16pt
$font-size6: 1.1818rem; // 13pt
$font-size7: 1rem; // 11pt // 15px
$font-size8: 0.9rem; // 10pt ish // 15 * 0.9px

/* SPACING
   Fixed rem values keep spacing predictable in every component.
*/

$spacing0: 0.125rem; // 2px
$spacing1: 0.5rem; // 8px
$spacing2: 0.75rem; // 12px
$spacing3: 1rem; // 16px
$spacing4: 1.5rem; // 24px
$spacing5: 1.75rem; // 28px
$spacing6: 2rem; // 32px
$spacing7: 2.5rem; // 40px
$spacing8: 3.75rem; // 60px
$spacing9: 5rem; // 80px

/* Border radius 
- 
- 
*/

$border-radius1: $spacing1;
$border-radius2: $spacing2;
$border-radius3: $spacing3;

/* SHADOWS 
- 
- 
*/

$shadow1: 0 0 $spacing1 rgba($color: $black, $alpha: 0.6);

/* TRANSITIONS 
- 
- 
*/

$transition1: 80ms cubic-bezier(.83,.7,.65,-0.03);
$transition2: 545ms cubic-bezier(.83,.7,.65,-0.03);
$transition3: 727ms cubic-bezier(.83,.7,.65,-0.03);
$transition4: 1000ms cubic-bezier(.83,.7,.65,-0.03);
$transition5: 1181ms cubic-bezier(.83,.7,.65,-0.03);
$transition6: 14545ms cubic-bezier(.83,.7,.65,-0.03);
